<% content_for :head do %>
  <title>List of Supplements</title>
  <meta name="description" content="website description < 300 chars">
<% end %>

<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol>
    <li>
      <a href="<%= root_path %>">Home</a>
    </li>
    <li>
      Supplements
    </li>
  </ol>
</nav>

<h1>List of Supplements</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Description</th>
    <th>Slug</th>
  </tr>

  <h2>Supplement Uses</h2>

  <% @categories.each do |category| %>
    <tr>
      <td><%= category.id %></td>
      <td><%= category.description %></td>
      <td><%= category.slug %></td>
      <td><%= link_to 'Show', category_path(category) %></td>
    </tr>
  <% end %>
</table>

<h2>A-Z Supplements</h2>
 
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>AKA</th>
    <th>Category</th>
  </tr>
 
  <% @supplements.each do |supplement| %>
    <tr>
      <td><%= supplement.id %></td>
      <td><%= supplement.name %></td>
      <td><%= supplement.aka %></td>
      <td><%= supplement.category_id %></td>
      <td><%= link_to 'Show', supplement_path(supplement) %></td>
    </tr>
  <% end %>
</table>