<h1>Listing Supplements</h1>
 
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>AKA</th>
    <th>Category</th>
  </tr>
 
  <% @supplements.each do |supplement| %>
    <tr>
      <td><%= supplement.id %></td>
      <td><%= supplement.name %></td>
      <td><%= supplement.aka %></td>
      <td><%= supplement.category_id %>
      <td><%= link_to 'Show', supplement_path(supplement) %></td>
    </tr>
  <% end %>
</table>