<% content_for :head do %>
  <title><%= @supplement.name %>: Benefits, Uses and Side Effects</title>
  <meta name="description" content="website description < 300 chars">
<% end %>

<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol>
    <li>
      <a href="<%= root_path %>">Home</a>
    </li>
    <li>
      <a href="<%= supplements_path %>">Supplements</a>
    </li>
    <li>
      <a href="<%= category_path(@category) %>"><%= @category.description%></a>
    </li>
    <li>
      <%= @supplement.name %>
    </li>
  </ol>
</nav>

<p>
  <strong>Name:</strong>
  <%= @supplement.name %>
</p>
 
<p>
  <strong>AKA:</strong>
  <%= @supplement.aka %>
</p>

<% if !@supplement.author_id.blank? %>

  <p>
    <strong>Written by:</strong>
    <%= Author.find(@supplement.author_id).name %>
  </p>
  <p>
    <%= Author.find(@supplement.author_id).bio %>
  </p>

<% end %>

<% if !@supplement.reviewer_id.blank? %>

  <p>
    <strong>Reviewed by:</strong>
    <%= Reviewer.find(@supplement.reviewer_id).name %>
  </p>
  <p>
    <%= Reviewer.find(@supplement.reviewer_id).bio %>
  </p>

<% end %>

<% if !@supplement.safe %>
  <div style="background-color: red;">
    <h4>Check dangers section, this supplement has health warnings.</h4>
  </div>
<% end %>

<% if !@supplement.description.blank? %>

  <p>
    <h2>What is <%= @supplement.name %>?</h2>
    <%= @supplement.description.html_safe %>
  </p>

<% end %>

<% if !@supplement.function.blank? %>

  <p>
    <h2>How does <%= @supplement.name %> work?</h2>
    <%= @supplement.function.html_safe %>
  </p>

<% end %>

<% if !@supplement.instructions.blank? %>

  <p>
    <h2>How to take <%= @supplement.name %>?</h2>
    <%= @supplement.instructions.html_safe %>
  </p>

<% end %>

<% if !@supplement.benefits.blank? %>

  <p>
    <h2><%= @supplement.name %> Benefits</h2>
    <%= @supplement.benefits.html_safe %>
  </p>

<% end %>

<% if !@supplement.dangers.blank? %>

  <p>
    <h2><%= @supplement.name %> Side Effects</h2>
    <%= @supplement.dangers.html_safe %>
  </p>

<% end %>

<% if !@supplement.bullets.blank? %>

  <p>
    <strong>Notes:</strong>
    <br />
    <% bullets_array = string_to_array(@supplement.bullets) %>
    <% bullets_array.each do |bullet| %>
      <%= bullet %><br />
    <% end %>
  </p>

<% end %>

<% if !@supplement.faq.blank? %>

  <p>
    <strong>FAQ</strong>
    <br />
    <% faq_hash = string_to_hash(@supplement.faq) %>
    <% faq_hash.each do |q, a| %>
      <%= "#{q}: #{a}" %><br />
    <% end %>
  </p>

<% end %>

<% if !@supplement.sources.blank? %>

  <p>
    <strong>Sources</strong>
    <br />
    <% sources_array = string_to_array(@supplement.sources) %>
    <% sources_array.each do |source| %>
      <%= source %><br />
    <% end %>
  </p>

<% end %>