<% content_for :head do %>
  <title>Nutrition and Supplement News</title>
  <meta name="description" content="website description < 300 chars">
<% end %>

<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol>
    <li>
      <a href="<%= root_path %>">Home</a>
    </li>
    <li>
      Articles
    </li>
  </ol>
</nav>

<h1>All Articles</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Body</th>
    <th>Lead</th>
    <th>Category</th>
    <th>Author</th>
    <th>Image</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.title %></td>
      <td><%= article.body %></td>
      <td><%= article.lead %></td>
      <td><%= Category.find(article.category_id).description %></td>
      <td><%= Author.find(article.author_id).name %></td>
      <td><%= article.image %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
    </tr>
  <% end %>
</table>