<% content_for :head do %>
  <title><%= @article.title %></title>
  <meta name="description" content="website description < 300 chars">
<% end %>

<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol>
    <li>
      <a href="<%= root_path %>">Home</a>
    </li>
    <li>
      <a href="<%= articles_path %>">Articles</a>
    </li>
    <li>
      <%= @article.title %>
    </li>
  </ol>
</nav>

<p>
  <strong>ID:</strong>
  <%= @article.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Lead:</strong>
  <%= @article.lead %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.find(@article.category_id).description %>
</p>

<p>
  <strong>Author:</strong>
  Add Author model
</p>

<p>
  <strong>Image:</strong>
  <%= @article.image %>
</p>