<% content_for :head do %>
  <title>Supplement Categories</title>
  <meta name="description" content="website description < 300 chars">
<% end %>

<h1>All Categories</h1>

<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol>
    <li>
      <a href="<%= root_path %>">Home</a>
    </li>
    <li>
      <a href="<%= categories_path %>">Categories</a>
    </li>
  </ol>
</nav>

<table>
  <tr>
    <th>ID</th>
    <th>Description</th>
    <th>Slug</th>
  </tr>

  <% @categories.each do |category| %>
    <tr>
      <td><%= category.id %></td>
      <td><%= category.description %></td>
      <td><%= category.slug %></td>
      <td><%= link_to 'Show', category_path(category) %></td>
    </tr>
  <% end %>
</table>