<% content_for :head do %>
  <title><%= @category.description %> Supplements: Benefits, Uses and Side Effects | HealthBravo</title>
  <meta name="description" content="website description < 300 chars">
<% end %>

<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol>
    <li>
      <a href="<%= root_path %>">Home</a>
    </li>
    <li>
      <a href="<%= supplements_path %>">Supplements</a>
    </li>
    <li>
      <%= @category.description %>
    </li>
  </ol>
</nav>

<p>
  <strong>ID:</strong>
  <%= @category.id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @category.slug %>
</p>

<% if ! @supplements.empty? %>

	<h2>All <%= @category.description %> supplements</h2>

	<table>
	  <tr>
	  	<th>ID</th>
	    <th>Name</th>
	    <th>AKA</th>
	  </tr>
	 
	  <% @supplements.each do |supplement| %>
	    <tr>
	      <td><%= supplement.id %></td>
	      <td><%= supplement.name %></td>
	      <td><%= supplement.aka %></td>
	      <td><%= link_to 'Show', supplement_path(supplement) %></td>
	    </tr>
	  <% end %>
	</table>

<% end %>

<% if ! @articles.empty? %>

  <h2>All <%= @category.description %> articles</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
      <th>Lead</th>
      <th>Author</th>
      <th>Image</th>
    </tr>
   
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= article.lead %></td>
        <td><%= Author.find(article.author_id).name %></td>
        <td><%= article.image %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
      </tr>
    <% end %>
  </table>

<% end %>