<% content_for :head do %>
  <title><%= @category.description %> Supplements | Benefits, Uses and Side Effects | Name</title>
  <meta name="description" content="website description < 300 chars">
<% end %>

<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol>
    <li>
      <a href="<%= root_path %>">Home</a>
    </li>
    <li>
      <a href="<%= supplements_path %>">Supplements</a>
    </li>
    <li>
      <a href="<%= url_for(:only_path => false) %>"><%= @category.description %></a>
    </li>
  </ol>
</nav>

<p>
  <strong>ID:</strong>
  <%= @category.id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @category.slug %>
</p>

<% if ! @supplements.empty? %>

	<h2>All <%= @category.description %> supplements</h2>

	<table>
	  <tr>
	  	<th>ID</th>
	    <th>Name</th>
	    <th>AKA</th>
	  </tr>
	 
	  <% @supplements.each do |supplement| %>
	    <tr>
	      <td><%= supplement.id %></td>
	      <td><%= supplement.name %></td>
	      <td><%= supplement.aka %></td>
	      <td><%= link_to 'Show', supplement_path(supplement) %></td>
	    </tr>
	  <% end %>
	</table>

<% end %>